.panel {
	box-sizing: border-box;
}

.box {
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	padding-left: 4px;
	margin-bottom: 8px;
	color: #999999;
	background: transparent !important;
}
